@font-face {
  font-family: 'Dreamlands';
  src: url('/assets/fonts/Dreamlands.woff2') format('woff2'),
       url('/assets/fonts/Dreamlands.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}